h1,
h2,
p {
  text-align: center;
}
h1,
h2 {
  font-family: Impact, serif, "Arial Narrow Bold", sans-serif;
}
h1 {
  margin: 0;
  font-size: 40px;
  margin-bottom: 15px;
}
h2 {
  font-size: 30px;
}
hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}
body {
  padding: 20px;
  font-family: sans-serif;
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}
.menu {
  padding: 20px;
  max-width: 500px;
  width: 80%;
  margin: auto;
  background-color: burlywood;
}
.flavor,
.dessert {
  text-align: left;
  width: 75%;
}
.price {
  text-align: right;
  width: 25%;
}
.item p {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 18px;
}
.established {
  font-style: italic;
}
.bottom-line {
  margin-top: 25px;
}
.address {
  margin-bottom: 5px;
}
/* FOOTER */
footer {
  font-size: 14px;
}
a {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: brown;
}
a:active {
  color: brown;
}
img {
  display: block;
  margin: auto;
  margin-top: -25px;
}
